/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Navbar styles */
nav {
  display: flex;
  height: 100%;
  max-height: 100px;
  background-color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  height: 80%;
  width: 85%;
  max-width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  font-size: 14px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  background-color: #1d1c1c;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(5, 5, 5, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: block;
}

/* Header styles */
.header {
  width: 100%;
  padding-top: 140px;
  height: 100vh;
  max-width: 418px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Black_bg1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.taglines {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

h1 {
  color: white;
  font-size: 26px;
}

h2 {
  color: white;
  font-size: 20px;
}

/* About styles */
.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.about-text h3 {
  color: white;
}

.about-text p {
  width: 350px;
  color: white;
}

.about-img img {
  width: 350px;
}

/* Mobile styles */
.hideOnMobile {
  display: none;
}

/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) {
 .hideOnMobile {
    display: block;
  }
 .menu-button {
    display: none;
  }
  nav li {
    font-size: 22px;
  }
 .about {
    flex-direction: row;
  }
 .header {
    width: 100%;
    justify-content: space-around;
    max-width: max-content;
  }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {
  /* Add styles for large devices here */
}

/* Medium large devices (large desktops) */
@media screen and (min-width: 1200px) {
  /* Add styles for medium large devices here */
}